html {
    box-sizing: border-box; /**set default box sizing to border box includes content and margin for max and min sizes**/
}

*,
*::before,
*::after {
    box-sizing: inherit; /** inherit box sizing from parent for all elements unless specified otherwise **/
}


/** Fonts **/
* {
    font-family: 'Roboto', sans-serif; /** set default font to Roboto **/
    line-height: 1.5;
}

h1 {
    font-family: 'Black Ops One', sans-serif;
    text-transform: uppercase; 
}

h2,
h3,
h4 {
    font-family: 'Roboto Slab', sans-serif;
}

/** Body Grid **/

body {
    display: grid;
    grid-template-columns: 1.5em 1fr 1.5em;
    grid-auto-flow: row dense;
    grid-template-areas:
      "header header header"
      ". section-head1 ."
      ". tech ."
      ". section-head2 ."
      ". core ."
      ". large ."
      ". footer ."
  }

/** Header **/
header {
    background: black;
    width: 100%; 
    grid-area: header;
    display: grid;
    grid-template-columns: 250px 2fr 1fr;
    grid-template-areas:
    'logo title .'
    'nav nav nav'
}

header .logo {
    margin: auto;
    grid-area: logo;
}

.logo img { 
    height: 160px;
    width: 160px;
    
}

header h1 {   
    color: white;
    display: inline-block;
    margin: auto;
    
    grid-area: title;
}

/** Nav Bar **/
nav {
    grid-area: nav;
    background-color: white;
}

nav ul {
    margin: 0 auto;
    margin-left: 1.5em;
    padding: 0px;
    display: inline ; /** display nav ul inline with header **/
}

nav ul li{
    background-color: black;
    color: white;
    display: inline-block;
    list-style-type: none;
    padding: 5px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 1em;
}

nav a:hover { 
    color: rgb(223, 74, 99);
    }

/** Body Styles **/

a img:hover {
    opacity: 0.85;
}

a {
    text-decoration: none;
}

a h3 {
    color: black;
}

time {
    display: block;
}

.section-head1 {
    grid-area: section-head1;
}

.section-head2 {
    grid-area: section-head2;
}

.tech {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,300px));
    
    grid-gap: 1em;
    grid-area: tech;
}

.core {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,300px));
    
    grid-gap: 1em;
    grid-area: core;
}

div.large {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,80vw));
    
    grid-gap: 1em;
    grid-area: large;
}

article img {
    max-width: 300px;
    max-height: 200px;
    height: auto;
}

article {
    padding: 0.5em;
    display: block;
    border-bottom: solid 1px;
}

article h3 {
    width: 100%;
    
}

.social-link img {
    max-width: 50px;
}

    /** Footer Style **/

footer {
    clear: both; /** clear all float lefts and right and display below **/
    font-size: 0.8em;
    grid-area: footer;
}

