html {
    box-sizing: border-box; /**set default box sizing to border box includes content and margin for max and min sizes**/
}

*,
*::before,
*::after {
    box-sizing: inherit; /** inherit box sizing from parent for all elements unless specified otherwise **/
    
}

/** Fonts **/
* {
    font-family: 'Roboto', sans-serif; /** set default font to Roboto **/
    line-height: 1.5;
}

h1 {
    font-family: 'Black Ops One', sans-serif;
    text-transform: uppercase; 
}

h2,
h3,
h4 {
    font-family: 'Roboto Slab', sans-serif;
}

p {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

/** Header **/
header {
    background: black;
    color: white;
    display: flex;
    align-content: center;
}

header img {
    
    max-height: 160px;
    }

header h1 {   
    padding: 0px;
    }



/** Nav Bar **/
nav ul {
    margin: 0 auto;
    padding: 0px;
    display: inline ; /** display nav ul inline with header **/
}

nav ul li{
    background-color: black;
    color: white;
    display: inline-block;
    list-style-type: none;
    padding: 5px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-family: 'Roboto Slab', sans-serif;
}

/* Links - change color on hover */
nav a:hover { 
    color: rgb(223, 74, 99);
    }

a img:hover {
    opacity: 0.85;
}

a {
    text-decoration: none;
}

a h3 {
    color: black;
}

a time {
    color: black;
}

/** Body Styles **/

.row-h2 {
    padding: 0px 0px 0px 20px;
}

time {
    display: block;
}

main {
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    grid-auto-rows: minmax(auto, auto);
    
}

.content {
    display: inline-block;
    float: left;
    
}

img {
    max-width: 200px;
}

article {
    display: block;
    border-bottom: solid 1px;
    padding-bottom: 10px;
    float: left;
    max-width: 200px;
}

    /** Footer Style **/

footer {
    clear: both; /** clear all float lefts and right and display below **/
}

