html {
    box-sizing: border-box; /**set default box sizing to border box includes content and margin for max and min sizes**/
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/** Fonts **/
* {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

h1 {
    font-family: 'Black Ops One', sans-serif;
    text-transform: uppercase; 
}

h2,
h3,
h4 {
    font-family: 'Roboto Slab', sans-serif;
}

p {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

/** Header **/
header {
    background: black;
    color: white;
    padding: 20px;
}

/** Nav Bar **/
nav ul {
    margin: 0 auto;
    padding: 20px;
    display: inline ; /** display nav ul inline with header **/
    
}

nav ul li{
    background-color: black;
    color: white;
    display: inline-block;
    list-style-type: none;
    padding: 5px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-family: 'Roboto Slab', sans-serif;
}

/** Body Styles **/

.row {
    
}

.row h2 {
    padding: 0px 0px 0px 22px;
}

.col {
    padding: 0px 20px 20px 20px;;
    margin: 1%;
    float: left;
    width: 48%;
}

.col img {
    max-width: 100%;
    height: auto; 
}

/** Footer Style **/

footer {
    clear: both; /** clear all float lefts and right and display below **/
}

